node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.idea/
web-build/
web-report/
fb-credentials.js
sample.json
app.json
google-services.json
GoogleService-Info.plist
YTKey.js
# macOS
.DS_Store
