<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87583530664-sbmrl1h2939k8k8lvpol9m6vmnbqvebj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87583530664-sbmrl1h2939k8k8lvpol9m6vmnbqvebj</string>
	<key>API_KEY</key>
	<string>AIzaSyCMh3q1rRCx5gpO4Nk34J2AQ8B1FgMACHw</string>
	<key>GCM_SENDER_ID</key>
	<string>87583530664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonazzi.habit</string>
	<key>PROJECT_ID</key>
	<string>habit-9d20a</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-9d20a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87583530664:ios:ae7fd96abf46cbaee9ac9d</string>
	<key>DATABASE_URL</key>
	<string>https://habit-9d20a.firebaseio.com</string>
</dict>
</plist>